
@font-face {
  font-family: AntonRegular;
  src: url('/assests/fonts/Anton-Regular.ttf');
}
@font-face {
  font-family: AsphalticGrainCondensed;
  src: url('/assests/fonts/Asphaltic-Grain-Condensed.ttf');
}
@font-face {
  font-family: BebasNeueBold;
  src: url('/assests/fonts/BebasNeue-Bold.ttf');
}
@font-face {
  font-family: BebasNeueRegular;
  src: url('/assests/fonts/BebasNeue-Regular.ttf');
}
@font-face {
  font-family: GothamBold;
  src: url('/assests/fonts/Gotham-Bold.otf');
}
@font-face {
  font-family: HelvCondensed;
  src: url('/assests/fonts/HelvCondensed-Normal.otf');
}

:root {
  --global-font-family: BebasNeue-Regular;
  --global-color-cyan: #008F9F;
  --global-color-red: #E50019;
  --global-color-gray: #484848;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0px;
  padding: 0px
}
body {
    margin: 0;
    font-family: BebasNeueRegular;
    overflow-x: hidden;
    font-size: 29px;
  }
  
  .container {
    max-width: 1640px;
  margin: 0 auto;
}
.flex{
  display: flex;
}

.items-center{
  align-items: center;
}

.d-none{
  display: none;
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}
.grid-container-3 {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-container-4 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 18px;
}
.grid-item {
  padding: 10px;
}

.m-auto{
  margin:auto
}
/********************** Header *****************************************/

.navbar {
  overflow: hidden;
  background-color: var(--global-color-gray);
}
.navbar .links{
  display: flex;
  background-color: var(--global-color-cyan);
  flex-grow: 2;
  justify-content: space-around;
}

.navbar .links a {
  font-family: Anton;
  color: #f2f2f2;
  text-align: center;
  padding: 22px; 
  text-decoration: none;
  font-size: 25px;
}
.navbar .links a:hover{
  text-decoration: underline;
}

.logo{
  height:40px;
  margin-right: 22px
}

.primary-btn {
  align-items: center;
  background-color: var(--global-color-red);
  cursor: pointer;
  border: none;

}
.nav-primary-btn-wrapper{
  margin: 10px 18px;
}

.primary-btn p{
  font-family: AntonRegular;
  font-size: 27px!important ;
  color: white;
  margin:0 4px;
}

.primary-btn-img{
  height: 25px!important;
  margin: 0 4px;
}

.search-icon{
  height: 30px
}

/********************** Banner *****************************************/


.mySlides {
  display: none;
  margin-bottom: 40px;
  position: relative;
  max-height: calc(100vh - 80px);
  overflow: hidden;
}

.mySlides-img{
 max-height: calc(100vh - 80px);
 min-height: calc(100vh - 80px);
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  padding: 8px 12px;
  width: 50%;
}

.text h1{
  font-family: AsphalticGrainCondensed;
  font-size: 225px;
  line-height: 1;
  margin-top:100px
}
.text p{
  font-size: 39px ;
}
.text .primary-btn{
  margin-top:16px
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dots-wrapper{
  bottom:20px;
  right:50%;
  z-index: 1;
}

.active, .dot:hover {
  background-color: var(--global-color-cyan);

}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/******************************** Feature Product *************************************/
.section-heading{
  color: var(--global-color-red);
  font-size: 150px;
  font-family: AsphalticGrainCondensed;
  text-align: center;
  margin-bottom: 50px;
}
.category-img-content{
  bottom: 20px;
  color: white;
  padding: 35px;
}
.category-img-content .primary-btn{
  margin-top:16px
}
.category-title{
  font-size: 54px;
  font-family: Anton;
}
.category-description{
  font-size: 17px;
}
.category-product-details{
  padding: 16px 12px;
  background-color: #F0F0F0;
}
.category-product-details .primary-btn{
  margin-right: 8px;
  margin-top: 8px;
}
.category-product-description{
  margin: 10px 0;
  overflow:hidden;
  max-height: 70px;
}
.category-product-details .primary-btn p{
  font-size: 16px!important
}
.category-product-details .primary-btn img{
  height: 19px!important
}
.category-product-title{
  color: var(--global-color-cyan);
  font-size:29px;
  font-family: Anton;
}
.category-product-subtitle{
  color: #484848;
  font-size:19px;
  font-family: Anton;
}
.category-content-item-img{
  width: 100%;
}

.product-feed-item{
  text-align: center;
  margin-top: 10px;;
  background-color: #FCFAFA;
  padding:15px 0 30px 0;
}
.product-feed-item-img{
  width: 350px
}

.product-title{
  font-size: 30px;
  color: var(--global-color-cyan);
  font-family: Anton;
}
.product-description{
  margin: 12px 0;
}
.pomo-banner-title{
  text-align: center;
  font-family: AsphalticGrainCondensed;
  font-size: 196px;
  color: white;
  padding: 20px 150px;
}
.promo-banner{
  height: 526px;
  margin:50px auto;
  justify-content: center;
  align-items: center;
}
footer{
  background-color: #1D1D1D;
  color: white;
  margin-top: 80px;
}

.social-section{
  justify-content: center;
  flex-direction: column;
}

.grid-container-3-footer-links{
  display: grid;
  grid-template-columns: 425px 330px 330px;
}
.social-icons{
  padding: 0 77px;
  width: -webkit-fill-available;
  justify-content: space-evenly;
}
.social-icons img{
  height: 45px;
  border: solid 3px;
  border-radius: 50%;
}
.social-icons img:hover{
  border-color: var(--global-color-red);
  background-color: var(--global-color-red);
  cursor: pointer;
}

.footer-logo-section{
  justify-content: center;
  padding: 150px 0;
}
input[name="email"]{
  margin:20px 0;
  padding: 10px 15px;
  width: 70%;
  border-radius: 20px;
}

.footer-logo{
  height: 88px;
}

.footer-links-section{
  background-color: #05080D;
  padding: 60px;
  background-image: url(../images/map.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;

}

.ofiice-locations{
  text-decoration: underline;
  align-items: baseline;
  margin-bottom: 30px;
}
.ofiice-locations h6{
  font-size: 29px;
}
.ofiice-locations p{
  font-size: 23px;
  margin-left: 24px;
}
.contact-us-details{
  margin-top: 12px;
}
.contact-us-details img{
  height: 23px;
}
.contact-us-detail-p{
  margin-left: 20px;
}
.footer-menu-links{
  text-decoration: underline;
  border-left: solid 3px white;
  padding: 60px;
}
.footer-menu-links p:hover, .ofiice-locations p:hover{
  color: var(--global-color-red);
  text-decoration: underline;
  text-decoration-color: var(--global-color-red);
  cursor: pointer;
}
.banner-widget{
  width: 416px;
  min-height: fit-content;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px
}
.banner-widget-item-img-wrapper{
  height: 145px;
  overflow: hidden;
}
.banner-widget-item-img-wrapper img{
  display: block;
  width: 100%;
}
.banner-widget-item-content{
  background-color: var(--global-color-cyan);
  margin:-35px 0 0 0;
  padding: 0 0 15px 0;;
}

.banner-widget-item-content h5{
  font-family: Anton;
  font-size: 52px;
  color:white;
  -webkit-text-stroke: 1px var(--global-color-cyan);
}
.banner-widget-item-content p{
  font-family: GothamBold;
  font-size: 13px;
  color: white;
}
.banner-widget-item:hover .banner-widget-item-content h5{
  -webkit-text-stroke: 1px var(--global-color-red);
}
.banner-widget-item:hover .banner-widget-item-content{
  background-color: var(--global-color-red);
}

